@import url('https://fonts.google.com/specimen/Kumbh+Sans');

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  background: linear-gradient(hsl(273, 75%, 66%) 50%, hsl(240, 73%, 65%) 100%);
}
